apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: GET

  # Uncomment when Jaeger / Grafana Tempo is wired in
  # - name: Tempo
  #   type: tempo
  #   uid: tempo
  #   url: http://tempo:3100
  #   access: proxy
  #   isDefault: false
  #   editable: false
  #   jsonData:
  #     tracesToLogsV2:
  #       datasourceUid: loki
